<section class="about-us">
  <div class="container">
    <div class="about-us-content">
      <h2 class="about-us-title">About Us</h2>
      <ul class="about-us-list">
        <li class="about-us-item">
          <p class="about-us-item-text">
            Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our
            selection of
            timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a
            reliable
            and stylish accessory on your wrist.
          </p>
        </li>
        <li class="about-us-item">
          <p class="about-us-item-text">
            At our premium watch collection, we believe that a watch is more than just a timekeeping device – it's a
            statement piece
            that reflects your personality and style. So why settle for anything less than the best?
          </p>
        </li>
      </ul>
      <button class="about-us-button" type="button">View catalog</button>
    </div>
    <div class="about-us-image">
      <picture>
        <source srcset="./image/img_01-desk-1x.jpg 1x, ./image/img_01-desk-2x.jpg 2x" media="(min-width: 1280px)" />
        <source srcset="./image/img_01-tab-1x.jpg 1x, ./image/img_01-tab-2x.jpg 2x" media="(min-width: 768px)" />
        <source srcset="./image/img_01-mob-1x.jpg 1x, ./image/img_01-mob-2x.jpg 2x" media="(min-width: 375px)" />
        <img src="./image/img_01-desk-1x.jpg" alt="Watch" width="530" height="531">

      </picture>
    </div>

  </div>
</section>