<section class="section">
  <div class="container advertis-container">
    <div class="text">
      <h2 class="visually-hidden advertis-title">Advertisement</h2>

      <h3 class="advertis-subtitle">
        Choose <span class="text-gr">your story</span>, making every moment
        unique. Time is your style, and we reveal it.
      </h3>
      <div class="btn-text">
        <button type="button" class="button-anchor">
          <!-- <div class=" "> -->
          <a class="advertis-anchor" href="#contactus" area-label="contact-us"
            >Contact Us</a
          >
          <!-- </div> -->
        </button>
      </div>
    </div>
  </div>
</section>
