<section class="contact-us section">
    <div class="text-btn-block container">
        <div class="text">Choose <span class="text-gr">your story</span>,
            making every moment unique. Time is your style, and we reveal it.
        </div>
        <div class="button">
            <div class="btn-text">
                <button type="button" class="button-anchor ">
                    <div class=" ">
                        <a class="advertis-anchor" href="#contactus">Contact Us</a>
                    </div>
                   </button>

            </div>
        </div>
    </div>
</section>