<section class="section" id="catalog">
  <div class="container">
    <h2 class="catalog-title title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="/images/catalog-mob.png 1x, /images/catalog-mob@2x.png 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="/images/catalog-tab.png 1x, /images/catalog-tab@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/catalog-desk.png    1x,
                /images/catalog-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="/images/catalog-mob.png"
              alt="Garmin Fenix 7X Pro"
              class="catalog-img"
              width="304"
              height="366"
            />
          </picture>
          <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="
                /images/catalog2-mob.png    1x,
                /images/catalog2-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                /images/catalog2-tab.png    1x,
                /images/catalog2-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/catalog2-desk.png    1x,
                /images/catalog2-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="/images/catalog2-mob.png"
              alt="Garmin Fenix 7X Pro"
              class="catalog-img"
              width="304"
              height="366"
            />
          </picture>
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="
                /images/catalog3-mob.png    1x,
                /images/catalog3-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                /images/catalog3-tab.png    1x,
                /images/catalog3-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/catalog3-desk.png    1x,
                /images/catalog3-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="/images/catalog3-mob.png"
              alt="Garmin Descent MK1"
              class="catalog-img"
              width="304"
              height="366"
            />
          </picture>
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="
                /images/catalog4-mob.png    1x,
                /images/catalog4-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                /images/catalog4-tab.png    1x,
                /images/catalog4-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/catalog4-desk.png    1x,
                /images/catalog4-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="/images/catalog4-mob.png"
              alt="Garmin D2 Delta PX"
              class="catalog-img"
              width="304"
              height="366"
            />
          </picture>
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>
      <li class="catalog-item hide-on-mobile">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="
                /images/catalog5-tab.png    1x,
                /images/catalog5-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/catalog5-desk.png    1x,
                /images/catalog5-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="/images/catalog5-tab.png"
              alt="Garmin Fenix 6"
              class="catalog-img"
              width="304"
              height="366"
            />
          </picture>
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>
      <li class="catalog-item hide-on-mobile">
        <div class="catalog-picture">
          <picture>
            <source
              srcset="
                /images/catalog6-tab.png    1x,
                /images/catalog6-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /images/catalog6-desk.png    1x,
                /images/catalog6-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="/images/catalog6-tab.png"
              alt="Tube Watch"
              class="catalog-img"
              width="304"
              height="366"
            />
          </picture>
          <h3 class="catalog-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
      <button type="button" class="btn-show-more">Show more</button>
    </ul>
  </div>
</section>
