
  <section class="catalog section" id=catalog>
    <div class="container">
      <h2 class="catalog-title title">Catalog</h2>
      <ul class="catalog-list">
        <li class="catalog-item">
          <div class="catalog-picture">
            
            <picture>
              <source
                srcset="/images/catalog-mob.webp 1x,
                  /images/catalog-mob@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="/images/catalog-tab.webp 1x,
                  /images/catalog-tab@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/catalog-desk.webp    1x,
                  /images/catalog-desk@2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <img src="/images/catalog-mob.webp" alt="Garmin Fenix 7X Pro" class="catalog-img" width="335" height="364" />
            </picture>
            <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="catalog-text">€500</p>
          </div>
        </li>
         <li class="catalog-item">
          <div class="catalog-picture">
            
            <picture>
              <source
                srcset="/images/catalog2-mob.webp 1x,
                  /images/catalog2-mob@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="/images/catalog2-tab.webp 1x,
                  /images/catalog2-tab@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/catalog2-desk.webp    1x,
                  /images/catalog2-desk@2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <img src="/images/catalog2-mob.webp" alt="Garmin Marq Athlete" class="catalog-img" width="335" height="364" />
            </picture>
            <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
            <p class="catalog-text">€450</p>
          </div>
        </li>
         <li class="catalog-item">
          <div class="catalog-picture">
            
            <picture>
              <source
                srcset="/images/catalog3-mob.webp 1x,
                  /images/catalog3-mob@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="/images/catalog3-tab.webp 1x,
                  /images/catalog3-tab@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/catalog3-desk.webp    1x,
                  /images/catalog3-desk@2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <img src="/images/catalog3-mob.webp" alt="Garmin Descent MK1" class="catalog-img" width="335" height="364" />
            </picture>
            <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
            <p class="catalog-text">€680</p>
          </div>
        </li>
         <li class="catalog-item">
          <div class="catalog-picture">
            
            <picture>
              <source
                srcset="/images/catalog4-mob.webp 1x,
                  /images/catalog4-mob@2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <source
                srcset="/images/catalog4-tab.webp 1x,
                  /images/catalog4-tab@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/catalog4-desk.webp    1x,
                  /images/catalog4-desk@2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <img src="/images/catalog4-mob.webp" alt="Garmin D2 Delta PX" class="catalog-img" width="335" height="364" />
            </picture>
            <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
            <p class="catalog-text">€380</p>
          </div>
        </li>
        <li class="catalog-item hide-on-mobile">
          <div class="catalog-picture">
            
            <picture class="hide-on-mobile">
              <source
                srcset="/images/catalog5-tab.webp 1x,
                  /images/catalog5-tab@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/catalog5-desk.webp    1x,
                  /images/catalog5-desk@2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <img src="/images/catalog5-mob.webp" alt="Garmin Fenix 6" class="catalog-img" width="335" height="364" />
            </picture>
            <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
            <p class="catalog-text">€400</p>
          </div>
        </li>
        <li class="catalog-item hide-on-mobile">
          <div class="catalog-picture">
            
            <picture>
              <source
                srcset="/images/catalog6-tab.webp 1x,
                  /images/catalog6-tab@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/catalog6-desk.webp    1x,
                  /images/catalog6-desk@2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <img src="/images/catalog6-mob.webp" alt="Tube Watch" class="catalog-img" width="335" height="364" />
            </picture>
            <h3 class="catalog-subtitle">Tube Watch S42 Date Steel With Black Case</h3>
            <p class="catalog-text">€395</p>
          </div>
        </li>
        <button type="button" class="btn-show-more">Show more</button>
      </ul>
    </div>
  </section>
</html>
