<section class="section" id="contactus">
  <div class="container container-contactus">
    <h2 class="modal-title title">Contact Us</h2>
    <div class="contactus-wrap">
      <div class="modal">
        <p class="modal-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="modal-form">
          <div class="modal-field-wrap">
            <label for="user-name" class="modal-label"></label>
            <div class="container-input">
              <input
                type="text"
                class="modal-input"
                name="user-name"
                id="user-name"
                placeholder="Name"
                required
              />
            </div>
          </div>
          <div class="modal-field-wrap">
            <label for="user-email" class="modal-label"></label>
            <div class="container-input">
              <input
                type="email"
                class="modal-input"
                name="user-email"
                id="user-email"
                placeholder="Email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                title="victoria@gmail.com"
                required
              />
            </div>
          </div>
          <div class="modal-field-wrap">
            <label for="user-phone" class="modal-label"></label>
            <div class="container-input">
              <input
                type="tel"
                class="modal-input"
                name="user-phone"
                id="user-phone"
                placeholder="+380"
                pattern="^\+\d{3}\d{2}\d{3}\d{2}\d{2}$"
                title="+38(067)-222-22-22"
                required
              />
            </div>
          </div>
          <div class="checkbox-container">
            <label class="modal-label" for="user-comment"></label>
            <textarea
              class="modal-textarea"
              id="user-comment"
              name="user-comment "
              placeholder="Comment"
            ></textarea>
            <div><button type="submit" class="btn-subscribe">Send</button></div>
          </div>
        </form>
      </div>
      <div>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /images/contactus-dec.jpg   1x,
              /images/contactus-dec2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/contactus-tab-704x556.jpg     1x,
              /images/contactus-tab2x-1408x1112.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/contactusmob1x.jpg 1x,
              /images/contactusmob2x.jpg 2x
            "
          />
          <img
            class="img-contact-us"
            src="/images/contactus-dec.jpg"
            alt="watch"
            height="556"
            width="714"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
