<section class="section">
    <div class="container">
        <h2 class="modal-title">Contact Us</h2>
        <div class="modal">
            <form class="modal-form">
                <p class="modal-text">Please use the form below to contact us. Enter your name, email, phone, and
                    message
                    and
                    we'll
                    get back to you shortly.</p>
                <div class="modal-field-wrap">
                    <label for="user-name" class="modal-label"></label>
                    <div class="container-input">
                        <input type="text" class="modal-input" name="user-name" id="user-name" placeholder="Name">
                    </div>
                </div>
                <div class="modal-field-wrap">
                    <label for="user-email" class="modal-label"></label>
                    <div class="container-input">
                        <input type="text" class="modal-input" name="user-email" id="user-email" placeholder="Email"
                            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" />
                    </div>
                </div>
                <div class="modal-field-wrap">
                    <label for="user-phone" class="modal-label"></label>
                    <div class="container-input">
                        <input type="text" class="modal-input" name="user-phone" id="user-phone" placeholder="+380"
                            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$">
                    </div>
                </div>
                <div class="checkbox-container">
                    <label class="modal-label" for="user-comment"></label>
                    <textarea class="modal-textarea" id="user-comment" name="user-comment "
                        placeholder="Comment"></textarea>
                    <div><button type="submit" class="btn-subscribe">Send</button></div>
                </div>
                </label>
            </form>
        </div>
        <div class="img-contact-us"> <img src="../images/contact-mob.webp" alt="watch" width="335" height="512"></div>
        <picture class="contactus-picture">
            <source media="(min-width: 1280px)" srcset="
                                                                    /images/contact.webp 1x,
                                                                    /images/contact-2x.webp 2x">
            <source media="(min-width: 768px)" srcset="
                                                                    /images/contact-tab.webp,
                                                                    /images/contact-tab-2x.webp 2x">
            <source media="(max-width: 767px)" srcset="
                                                                    /images/contact-mob.webp 1x,
                                                                    /images/contact-mob.webp-2x 2x">
        </picture>

    </div>
</section>