<footer class="section" id="footer">
  <div class="container footer-container">
    <div class="footer-top">
      <div class="footer-box-tab">
        <div class="footer-logo-social">
          <a class="footer-logo-link" href="#">watchcharm</a>
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="#"
                title="facebook"
                target="_blank"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="../images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="#"
                title="instagram"
                target="_blank"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="../images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="#"
                title="youtube"
                target="_blank"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="../images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-contact">
          <a class="footer-contact-link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </div>

        <h3 class="footer-title">
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </h3>
      </div>

      <div class="footer-menu">
        <nav class="footer-nav-menu">
          <ul class="footer-menu-list">
            <li>
              <a area-label="Home" class="footer-menu-item" href="#">Home</a>
            </li>
            <li>
              <a area-label="About Us" class="footer-menu-item" href="#"
                >About Us</a
              >
            </li>
            <li>
              <a area-label="Catalog" class="footer-menu-item" href="#"
                >Catalog</a
              >
            </li>
            <li>
              <a area-label="Sale" class="footer-menu-item" href="#">Sale</a>
            </li>
            <li>
              <a area-label="Reviews" class="footer-menu-item" href="#"
                >Reviews</a
              >
            </li>

            <li>
              <a area-label="Contact Us" class="footer-menu-item" href="#"
                >Contact Us</a
              >
            </li>
          </ul>
        </nav>
        <div class="footer-address">
          <p class="footer-address-paragraph">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </p>
        </div>
      </div>

      <div class="footer-border"></div>
      <div class="footer-bottom">
        <p class="footer-bottom-paragraph">
          ©2023 The Watch Spot. All rights reserved.
        </p>
        <ul class="footer-bottom-list">
          <li class="footer-bottom-item">
            <a area-label="Terms of Service" href="#">Terms of Service</a>
          </li>
          <li class="footer-bottom-item">
            <a area-label="Privacy Policy" href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
