<header class="header">
  <!-- navigation -->

  <div class="container header-container">
    <a href="index.html" class="menu-link" title="watchcharm-site-shop"
      >watchcharm</a
    >

    <nav class="top-line-nav">
      <ul class="menu-list">
        <li class="menu-item">
          <a href="index.html" title="studio">Home</a>
          <span class="header-menu-circle"></span>
        </li>
        <li class="menu-item">
          <a href="#aboutus" title="port" class="menu-link-item">About Us</a>
          <span class="header-menu-circle"></span>
        </li>
        <li class="menu-item">
          <a href="#catalog" title="contacts" class="menu-link-item">Catalog</a>
          <span class="header-menu-circle"></span>
        </li>
        <li class="menu-item">
          <a href="#sale" title="contacts" class="menu-link-item">Sale</a>
          <span class="header-menu-circle"></span>
        </li>
        <li class="menu-item">
          <a href="#reviews" title="contacts" class="menu-link-item">Reviews</a>
          <span class="header-menu-circle"></span>
        </li>
        <li class="menu-item">
          <a href="#contactus" title="contacts" class="menu-link-item"
            >Contact Us</a
          >
          <span class="header-menu-circle"></span>
        </li>
      </ul>
    </nav>
    <!-- Social -->
    <div class="social-container">
      <ul class="social-icon-list">
        <li class="social-icon-item">
          <a
            href="https://www.facebook.com/goITclub/"
            title="fb"
            class="social-icon-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon-position" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon-item">
          <a
            href="https://www.instagram.com/goitclub/"
            title="insta"
            class="social-icon-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon-position" width="20" height="20">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            title="youtube"
            class="social-icon-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon-position" width="20" height="20">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- ------------  Menu   ----------- -->

    <div class="btn-menu-container">
      <input
        type="checkbox"
        class="vector-input-btn"
        name="btnClose"
        id="toggle-close"
      />
      <label for="toggle-close" class="vector-label-btn">
        <span class="vector-btn"></span>
      </label>
    </div>
  </div>
</header>
