<header class="header">
  <!-- navigation -->

  <div class="container header-container">
    
    
      <a href="#" class="menu-link" aria-label="watchcharm-site-title"
    >watchcharm</a>
   
      <nav class="top-line-nav">
      <ul class="menu-list">
        
        <li class="menu-item">
          <a
            href="#"
            aria-label="studio"
            target="_blank"
            class="menu-link-item current"
            rel="noopener noreferrer"
            >Home</a
          >
        </li>
        <li class="menu-item">
          <a
            href="#"
            aria-label="port"
            target="_blank"
            rel="noopener noreferrer"
            class="menu-link-item"
            >About Us</a
          >
        </li>
        <li class="menu-item">
          <a
            href="#"
            aria-label="contacts"
            target="_blank"
            rel="noopener noreferrer"
            class="menu-link-item"
            >Catalog</a
          >
        </li>
        <li class="menu-item">
          <a
            href="#"
            aria-label="contacts"
            target="_blank"
            rel="noopener noreferrer"
            class="menu-link-item"
            >Sale</a
          >
        </li>
        <li class="menu-item">
          <a
            href="#"
            aria-label="contacts"
            target="_blank"
            rel="noopener noreferrer"
            class="menu-link-item"
            >Reviews</a
          >
        </li>
        <li class="menu-item">
          <a
            href="#"
            aria-label="contacts"
            target="_blank"
            rel="noopener noreferrer"
            class="menu-link-item"
            >Contact Us</a
          >
        </li>        
      </ul>
    </nav>

    <!-- Social -->
    <div class="social-container">
      <ul class="social-icon-list">
        <li class="social-icon-item">
          <a href="#" aria-label="insta" class="social-icon-link">
            <svg class="social-icon-position" width="20" height="20">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon-item">
          <a href="#" aria-label="fb" class="social-icon-link">
            <svg class="social-icon-position" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-icon-item">
          <a href="#" aria-label="tvit" class="social-icon-link">
            <svg class="social-icon-position" width="20" height="20">
              <use href="./images/icons.svg#icon-tvit"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="stroke"></div>
</header>
