<section class="section-hero">
    <div class="container-hero">
       <div class="information-hero"> 
        <div class="container-one"> 
        <h1 class="title-hero">
            Welcome to our <span class="title-color-hero">collection</span> of premium watches
        </h1>
        <p class="text-hero">
            Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
        </p>
    </div>

        <div class="container-customer-hero"> 
        <div class="customer-hero">
            <picture class="picture-customer-hero">
                <!----<source
                srcset="/image/ellipse-one.png 1x, /image/ellipse-one-2x.png 2x" 
                media="(min-width: 1280px)"
                />
                <source
                srcset="/image/ellipse-one-tab.png 1x, /image/ellipse-one-tab-2x.png 2x" 
                media="(min-width: 768px)"
                />--->

                <source
                srcset="/image/ellipse-one-mob.png 1x, /image/ellipse-one-mob-2x.png 2x" 
                media="(min-width: 320px)"
                />
                <img class="img-customer-hero ellipse-one" src="/image/ellipse-one-mob.png" alt="Customer lady"/>
        
            </picture>
        
            <picture class="picture-customer-hero">
                <!----<source
                srcset="/image/ellipse-two.png 1x, /image/ellipse-two-2x.png 2x" 
                media="(min-width: 1280px)"
                />
                <source
                srcset="/image/ellipse-two-tab.png 1x, /image/ellipse-two-tab-2x.png 2x" 
                media="(min-width: 768px)"
                />--->

                <source
                srcset="/image/ellipse-two-mob.png 1x, /image/ellipse-two-mob-2x.png 2x" 
                media="(min-width: 320px)"
                />
                <img class="img-customer-hero ellipse-two" 
                src="/image/ellipse-two-mob.png" alt="Customer man"/>
        
            </picture>

            <picture class="picture-customer-hero">
                <!----<source
                srcset="/image/ellipse-three.png 1x, /image/ellipse-three-2x.png 2x" 
                media="(min-width: 1280px)"
                />
                <source
                srcset="/image/ellipse-three-tab.png 1x, /image/ellipse-three-tab-2x.png 2x" 
                media="(min-width: 768px)"
                />--->

                <source
                srcset="/image/ellipse-three-mob.png 1x, /image/ellipse-three-mob-2x.png 2x" 
                media="(min-width: 320px)"
                />
                <img class="img-customer-hero ellipse-three" src="/image/ellipse-three-mob.png" alt="Customer lady"/>
        
            </picture>
        </div>
        <a href="#footer" class="scroll-hero">
            Scroll down  
    </a>
</div>
</div> 

<div class="container-illustration">
    <picture class="picture-illustration-hero">
        <source
        srcset="/image/hero.jpg 1x, ./images/hero-2x.jpg 2x" width="1150"
        media="(min-width: 1120px)"
        />

        <source
        srcset="/image/hero-tab.jpg 1x, ./images/hero-tab-2x.jpg 2x" width="704"
        media="(min-width: 768px)"
        />

        <source
        srcset="/image/hero-mob.jpg 1x, ./images/hero-mob-2x.jpg 2x" width="" 
        media="(min-width: 320px)" 
        />

        <img class="img-illustration-hero" src="/image/hero-mob.jpg" 
        alt="A black watch" width="360"/>

    </picture>


</div>

    </div>
</section>