<section class="section-hero">
    <div class="container-hero">
        <h1 class="title-hero">
            Welcome to our <span class="title-color-hero">collection</span> of premium watches
        </h1>
        <p class="text-hero">
            Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
        </p>
        <div class="container container-img-hero">
            <img src="" alt=""/>
            <img src="" alt=""/>
            <img src="" alt=""/>
        </div>
        <p class="text-scroll-hero">
            Scroll down  
        </p>
<div class="bcg-hero"></div>

    </div>
</section>