<section class="section-hero">
    <div class="container-hero">
        <h1 class="title-hero">
            Welcome to our <span class="title-color-hero">collection</span> of premium watches
        </h1>
        <p class="text-hero">
            Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
        </p>
        
        <div class="container-customer-hero"> 
        <div class="container container-img-hero">
            <picture>
                
                <source
                srcset="/image/elipse1-44x44.webp 1x" 
                media="(min-width: 320px)"
                />
        
                <img class="customer-img-hero" src="/image/elipse1-44x44.webp" alt="Picture of customer"/>
        
            </picture>
        
            <img src="" alt=""/>
            <img src="" alt=""/>
        </div>
        <a href="#footer" class="scroll-hero">
            Scroll down  
    </a>
</div>

<div class="illustration-hero">
    <picture>
        <source
        srcset="/image/hero.jpg 1x, ./images/hero-2x.jpg 2x" 
        media="(min-width: 1120px)"
        />

        <source
        srcset="/image/hero-tab.jpg 1x, ./images/hero-tab-2x.jpg 2x" 
        media="(min-width: 768px)"
        />

        <source
        srcset="/image/hero-mob.jpg 1x, ./images/hero-mob-2x.jpg 2x" 
        media="(min-width: 320px)"
        />

        <img class="picture-hero" src="/image/hero-mob.jpg" 
        alt="A black watch"/>

    </picture>


</div>

    </div>
</section>