<section class="section" id="reviews">
  <div class="review-container container">
    <h2 class="title review-title">Reviews</h2>
    <ul class="reviews-ul">
      <li class="review-li john">
        <img
          class="review-img"
          src="/images/john-56x56.png"
          alt="john review"
          width="56"
          height="56"
        />
        <div class="review-div">
          <h3 class="reviews-h3">John Wax</h3>
          <p class="reviews-p">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>
      <li class="review-li victoria">
        <img
          class="review-img"
          src="/images/victoria-56x56.png"
          alt="victoria review"
          width="56"
          height="56"
        />
        <div class="review-div">
          <h3 class="reviews-h3">Victoria Romashenko</h3>
          <p class="reviews-p">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>
      <li class="review-li anastasia">
        <img
          class="review-img"
          src="/images/anastasia-56x56.png"
          alt="anastasia review"
          width="56"
          height="56"
        />
        <div class="review-div">
          <h3 class="reviews-h3">Anastasia Trachuk</h3>
          <p class="reviews-p">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
