<section class="sale container">
  <div class="">
    <div class="sale-choise">
      <h2 class="title sale-title">Sale</h2>
      <ul class="sale-list-slider">
        <li class="sale-list-item">
          <picture>
            <source srcset="/image/sale1-mob.webp, /image/sale1-mob-2x.webp" />
            <img
              src="/image/sale1-mob.webp"
              alt="Black watch"
              width="52"
              height="54"
          /></picture>
        </li>
        <li class="sale-list-item">
          <picture>
            <source srcset="/image/sale2-mob.webp, /image/sale2-mob-2x.webp" />
            <img
              src="/image/sale2-mob.webp"
              alt="Black watch"
              width="52"
              height="54"
          /></picture>
        </li>
        <li class="sale-list-item">
          <picture>
            <source srcset="/image/sale3-mob.webp, /image/sale3-mob-2x.webp" />
            <img
              src="/image/sale3-mob.webp"
              alt="Black watch"
              width="52"
              height="54"
          /></picture>
        </li>
        <li class="sale-list-item">
          <picture>
            <source srcset="/image/sale4-mob.webp, /image/sale4-mob-2x.webp" />
            <img
              src="/image/sale4-mob.webp"
              alt="Black watch"
              width="52"
              height="54"
          /></picture>
        </li>
      </ul>
      <picture class="sale-watch-active">
        <source srcset="/image/sale5-mob.webp, /image/sale5-mob-2x.webp" />
        <img
          class="sale-watch-active-img"
          src="/image/sale5-mob.webp"
          alt="Black watch"
          width="235"
          height="285"
      /></picture>
    </div>
    <div class="sale-info">
      <h3 class="sale-info-title">
        MARQ&reg; Commander (Gen 2) - Carbon Edition
      </h3>
      <p class="product-tag">Product tag: 706587</p>
      <ul class="sale-price">
        <li class="current-price">€1500</p>
        <li class="old-price">€3000</li>
      </ul>
      <p class="watch-descr">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="watch-feature">
        <li class="watch-feature-item">Fused carbon fiber</li>
        <li class="watch-feature-item">Grade-5 Titanuim</li>
        <li class="watch-feature-item">Athlete</li>
        <li class="watch-feature-item">Golfer</li>
        <li class="watch-feature-item">Commander</li>
        <li class="watch-feature-item">Adventurer</li>
      </ul>
    </div>
  </div>
</section>
