<section class="section">
  <div class="container">
    <h2 class="title sale-title">Sale</h2>
    <div class="sale-wrap">
      <div class="sale-choise">
        <ul class="sale-list-slider">
          <li class="sale-list-item">
            <picture>
              <source
                srcset="/images/sale1.png 1x, /images/sale1-2x.png 2x"
                media="(min-width: 768px)" />
              <source
                srcset="/images/sale1-mob.png 1x, /images/sale1-mob-2x.png 2x"
                media="(max-width: 767px)" />
              <img
                src="/images/sale1.png"
                alt="Black watch"
                width="96"
                height="100"
            /></picture>
          </li>
          <li class="sale-list-item">
            <picture>
              <source
                srcset="/images/sale2.png 1x, /images/sale2-2x.png 2x"
                media="(min-width: 768px)" />
              <source
                srcset="/images/sale2-mob.png 1x, /images/sale2-mob-2x.png 2x"
                media="(max-width: 767px)" />
              <img
                src="/images/sale2.png"
                alt="Black watch"
                width="96"
                height="100"
            /></picture>
          </li>
          <li class="sale-list-item">
            <picture>
              <source
                srcset="/images/sale3.png 1x, /images/sale3-2x.png 2x"
                media="(min-width: 768px)" />
              <source
                srcset="/images/sale3-mob.png 1x, /images/sale3-mob-2x.png 2x"
                media="(max-width: 767px)" />
              <img
                src="/images/sale3.png"
                alt="Black watch"
                width="96"
                height="100"
            /></picture>
          </li>
          <li class="sale-list-item">
            <picture>
              <source
                srcset="/images/sale4.png 1x, /images/sale4-2x.png 2x"
                media="(min-width: 768px)" />
              <source
                srcset="/images/sale4-mob.png 1x, /images/sale4-mob-2x.png 2x"
                media="(max-width: 767px)" />
              <img
                src="/images/sale4.png"
                alt="Black watch"
                width="96"
                height="100"
            /></picture>
          </li>
        </ul>

        <picture class="sale-watch-active">
          <source
            srcset="/images/sale5.png 1x, /images/sale5-2x.png 2x"
            media="(min-width: 768px)" />
          <source
            srcset="/images/sale5-mob.png 1x, /images/sale5-mob-2x.png 2x"
            media="(max-width: 767px)" />
          <img
            class="sale-watch-active-img"
            src="/images/sale5.png"
            alt="Black watch"
            width="328"
            height="398"
        /></picture>
      </div>

      <div class="sale-info">
        <div class="sale-info-product">
          <h3 class="sale-info-title">
            MARQ&reg; Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="product-tag">Product tag: 706587</p>

          <ul class="sale-price">
            <li class="current-price">&euro;1500</li>
            <li class="old-price">&euro;3000</li>
          </ul>
        </div>
        <p class="watch-descr">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="watch-feature">
          <li class="watch-feature-item">Fused carbon fiber</li>
          <li class="watch-feature-item">Grade-5 Titanuim</li>
          <li class="watch-feature-item">Athlete</li>
          <li class="watch-feature-item">Golfer</li>
          <li class="watch-feature-item">Commander</li>
          <li class="watch-feature-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
