.about-us {
    padding-top: 60px;
}

.container {}

.about-us-content {
    padding: 40px 20px;
    border-radius: 30px;
    background: #f3f3f3;
    margin-bottom: 20px;
}

.about-us-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 28px;
}

.about-us-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.about-us-item {}

.about-us-item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
}

.about-us-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
    border: none;
    border-radius: 16px;
    background: #3350e9;
    padding: 15px 38px;
}

.about-us-image {}