.about-us-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-us-content {
  padding: 40px 20px;
  border-radius: 30px;
  background: #f3f3f3;
}

.about-us-title {
  margin-bottom: 28px;
}

.about-us-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 20px;
}

.about-us-text:last-of-type {
  margin-bottom: 40px;
}

.about-us-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border: none;
  border-radius: 16px;
  background-color: #3350e9;
  padding: 15px 38px;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us-link:hover,
.about-us-link:focus {
  background-color: #1f3cd4;
}

.about-us-image img{ 
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .about-us-container {
    gap: 40px;
    }
  
  .about-us-content {
    padding: 80px 60px;
    border-radius: 50px;
  }

  .about-us-title {
    margin-bottom: 40px;
  }

  .about-us-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .about-us-text:last-of-type {
    margin-bottom: 60px;
  }

  .about-us-image img{
    width: 100%;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-container {
    flex-direction: row;
    gap: 40px; 
  }

  .about-us-content {
    width: 580px;
    margin-bottom: 0;
  }
  
  .about-us-text:last-of-type {
      margin-bottom: 40px;
    }
    
}

