.about-us {
    margin-bottom: 60px;
}

.about-us-content {
    padding: 40px 20px;
    border-radius: 30px;
    background: #f3f3f3;
    margin-bottom: 20px;
}

.about-us-title {
    margin-bottom: 28px;
}

.about-us-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 20px;
}

.about-us-text:last-of-type {
    margin-bottom: 40px;
}

.about-us-link {
    font-weight: 500; 
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
    border: none;
    border-radius: 16px;
    background-color: #3350e9;
    padding: 15px 38px;
    transition: color;
    display: inline-block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us-link:hover,
.about-us-link:focus {
    background-color: #1f3cd4;
}

.about-us-image {
    border-radius: 30px;
}