*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  
  nav,footer,header,aside{display: block;}
  
  html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,button,textarea{font-family:inherit;}
  
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding:0;border:0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  
  h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
  /*============================================================================================================*/
  
  /*.main {}*/
  .contact-us {
      position: relative;
      margin: 100px auto;
      width: 1150px;
      height: 298;
      padding: 80px 83px;
      border-radius: 30px;
      background-color: black;
      overflow: hidden;
      background-image: url('/images/advertisement_x1.png'); /* Заміна на коректний шлях до зображення */

  }
  @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero-bg-image {
        background-image: 
          url('/images/advertisement_x2.png');
      }
    }
  .contact-us img {
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      bottom: 0;
      
  }
  .text-btn-block {
      display: flex;
      gap: 140px;
  }
  .text {
      font-size: 48px;
      font-weight: 600;
      line-height: 44px;
      color: white;
  }
  .text-gr {
      color: grey;
  }
  .button {
      height: 48px;
      padding: 15px 44px;
      border: 2px solid rgba(251, 251, 251, 0.15);
      border-radius: 16px;
  }
  .btn-text {
      color: white;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      text-wrap: nowrap;
  }
  @media (max-width:768px) {
      .main {
          padding: 0 32px;
      }
      .contact-us {
          max-width: 100%;
          padding: 80px 64px;
          background-image: url('/images/advertisement_x1-table.png'); /* Заміна на коректний шлях до зображення */

      }
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero-bg-image {
        background-image: 
          url('/images/advertisement_x2-mob.png');
      }
    }
      .text-btn-block {
          display: flex;
          flex-direction: column;
          gap: 32px;
      }
      .button {
          width: 160px;
      }
  }
  @media (max-width:600px) {
      .contact-us {
          padding: 65px 30px;
          background-image: url('/images/advertisement_x1-mob.png'); /* Заміна на коректний шлях до зображення */
      }
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero-bg-image {
        background-image: 
          url('/images/advertisement_x2-mob.png');
      }
    }

      .text {
          font-size: 40px;
          line-height: 40px;
      }
  }
  @media (max-width:480px) {
      .text {
          font-size: 35px;
          line-height: 35px;
      }
  }
  @media (max-width:376px) {
      .contact-us {
          padding: 60px 28px;
          background-image: url('/images/advertisement_x1-mob.png'); /* Заміна на коректний шлях до зображення */
      }
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero-bg-image {
        background-image: 
          url('/images/advertisement_x2-mob.png');
      }
    }
      .text {
          font-size: 32px;
          line-height: 32px;
          letter-spacing: -2%;
      }
  }