.catalog-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding: 0 28px;
}
.catalog-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
  padding: 0 0 24px 28px;
  text-align: left;
}
.catalog-list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.catalog-title {
  margin-top: 60px;
  margin-bottom: 24px;
}
.catalog-picture {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 335px;
  height: 364px;
  background-color: #f3f3f3;
}

.catalog-picture {
  width: 100%;
  height: auto;
  display: inline-block;
}
.hide-on-mobile {
  display: none;
}

/* @media (min-width: 768px) {
  .hide-on-mobile {
    display: inline-block;
  }
} */
