.modal-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--main);
  padding-left: 20px;
}

.modal {
  /* width: 335px;
  height: 512px; */
  margin: 0 auto;
  border-radius: 30px;
  padding: 48px 28px;
  width: 335px;
  height: 512px;
  background-color: #f3f3f3;
}

.modal-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.modal-form {
  /* width: 335px; */
  /* height: 1038px; */
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  background: var(--cards);
}
.modal-field-wrap {
  gap: 18px;
}
.modal-label {
}
.container-input {
}
.modal-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 226px 12px 14px;
  width: 279px;
  height: 42px;
}

.checkbox-container {
}
.modal-textarea {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 136px 54px 14px;
  width: 279px;
  height: 84px;
  margin-bottom: 28px;
}
.btn-subscribe {
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border: none;
  border-radius: 16px;
  background-color: #3350e9;
  padding: 15px 38px;
  transition: color;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
