.modal-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.modal {
  border-radius: 30px;
  padding: 48px 28px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}

.modal-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 22px;
}

.img-contact-us {
  display: flex;
  justify-content: center;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
}

.modal-field-wrap {
  gap: 18px;
}

.modal-input {
  border: 1px solid rgba(12, 12, 12, 0.5);
  border-radius: 12px;
  min-height: 42px;
  background-color: transparent;
  outline: transparent;
  padding: 12px 14px;
  width: 224px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.modal-input:focus,
.modal-input:active {
  border: 1px solid #3350e9;
}

.modal-input:not(:placeholder-shown) {
  border: 1px solid #3350e9;
}

.modal-textarea {
  border-radius: 12px;
  padding: 12px 14px;
  height: 84px;
  margin-bottom: 28px;
  background-color: transparent;
  outline: transparent;
  width: 224px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
}

.modal-textarea:focus,
.modal-textarea:active {
  border: 1px solid #3350e9;
}
.modal-textarea:not(:placeholder-shown) {
  border: 1px solid #3350e9;
}

.btn-subscribe {
  width: 134px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  border: none;
  border-radius: 16px;
  background-color: #3350e9;
  display: inline-block;
  margin: 0 auto;
}
.btn-subscribe:focus,
.btn-subscribe:active {
  background-color: #1f3cd4;
}

@media screen and (min-width: 375px) {
  .modal-input {
    width: 279px;
  }
  .modal-textarea {
    width: 279px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    padding: 50px 122px;
  }
  .modal-title {
    margin-bottom: 40px;
  }
  .modal-text {
    font-size: 16px;
    line-height: 125%;
  }
  .modal-form {
    /* padding: 50px 90px; */
  }

  .modal-textarea {
    width: 460px;
    height: 90px;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 32px;
  }
  .modal-input {
    width: 460px;
    padding: 16px 18px;
    font-size: 16px;
    line-height: 125%;
  }
}
