.header {
  height: 88px;
  max-width: 1440px;
  background-color: grey;
}

/* .container {
} */

.header-container {
  display: flex;
  /* padding: 24px 64.5px; */
  max-width: 1280px;
  height: 88px;
}
.top-line-nav {
  display: flex;
  margin-right: 204px;
}

.menu-link {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  padding-right: 204px;
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
}
.menu-link-item {
}
.current {
}
.team-icon-list {
}
.team-icon-item {
}
.team-icon-link {
}
.team-icon-item-position {
}
