
.header {
  max-width: 1280px;
  /* background-color: #cecece; */
}

/* .container {
  max-width: 1280;
  margin: 0;
} */

.header-container {
  display: flex;
  height: 88px;
  align-items: center;
  justify-content: space-between;
  max-width: 1150px;
  padding: 0 64px;
  /* margin: 0 auto; */
}
.top-line-nav {
  display: flex;
  align-items: center;
}

.menu-link {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  /* padding-right: 204px; */
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 40px;
  align-items: center;
  
  flex-basis: auto;
}
.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
}
.menu-link-item {
}
.current {
}

.social-container {
  display: flex;
}

.social-icon-list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.social-icon-item {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
}
.social-icon-link {
}
.social-icon-position {
}

.stroke {
width: 100%;
height: 2px;
background-color: rgba(12, 12, 12, 0.1);
  /* border: 2px solid rgba(12, 12, 12, 0.1); */
}
