.section-hero {
  padding-top: 60px;
}

.container-hero {
  max-width: 375px;
  display: flex;
  flex-direction: column;
}

.title-hero {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
  max-width: 335px;
}

.title-color-hero {
  color: #3350e9;
}

.text-hero {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.container-customer-hero {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 28px;
  padding-top: 28px;
}

.customer-hero {
  display: flex;
  flex-direction: row;
}

.picture-customer-hero {
  width: 44px;
  height: 44px;
  position: relative;
}

.img-customer-hero {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.ellipse-one {
  position: absolute;
  top: 0;
  right: -24px;
  z-index: -1;
  width: 44px;
  height: 44px;
}

.ellipse-two {
  position: absolute;
  top: 0;
  right: -12px;
  z-index: 0;
  width: 44px;
  height: 44px;
}

.ellipse-three {
  position: absolute;
  z-index: 1;
  width: 44px;
  height: 44px;
}

.scroll-hero {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-hero:focus,
.scroll-hero:hover {
  color: #3350e9;
}

.img-illustration-hero {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section-hero {
    padding-top: 80px;
  }

  .container-hero {
    max-width: 768px;
    padding: 0 32px;
  }

  .title-hero {
    font-size: 70px;
    line-height: 0.86;
    min-width: 557px;
  }

  .text-hero {
    font-size: 16px;
    line-height: 1.25;
    max-width: 480px;
  }

  .container-information-hero {
    display: flex;
    flex-direction: row;
    gap: 11px;
    margin-bottom: 40px;
  }

  .container-customer-hero {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    min-width: 136px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .customer-hero {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .picture-customer-hero {
    width: 56px;
    height: 56px;
  }

  .ellipse-one {
    position: absolute;
    top: 0;
    right: -32px;
    z-index: -1;
    width: 56px;
    height: 56px;
  }

  .ellipse-two {
    position: absolute;
    top: 0;
    right: -17px;
    z-index: 0;
    width: 56px;
    height: 56px;
  }

  .ellipse-three {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 56px;
    height: 56px;
  }

  .scroll-hero {
    font-size: 20px;
    line-height: 1;
  }

  .img-illustration-hero {
    border-radius: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .section-hero {
    padding-top: 80px;
  }

  .container-hero {
    max-width: 1280px;
    padding: 0 65px;
  }

  .title-hero {
    font-size: 72px;
    line-height: 0.875;
    min-width: 597px;
  }

  .container-information-hero {
    gap: 407px;
  }

  .picture-customer-hero {
    width: 60px;
    height: 60px;
    padding: 0;
  }

  .ellipse-one {
    position: absolute;
    right: -34px;
    width: 60px;
    height: 60px;
  }

  .ellipse-two {
    position: absolute;
    right: -18px;
    width: 60px;
    height: 60px;
  }

  .ellipse-three {
    position: absolute;
    width: 60px;
    height: 60px;
  }

  .scroll-hero {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
