.section-hero {
padding: 60px 0;
}

.container-hero {
max-width: 320px;
display: flex;
flex-direction: column;
}

.title-hero {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    
}

.title-color-hero {
    color: #3350e9;
}

.text-hero {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7); 
}


.container-img-hero {
    display: flex;
    flex-direction: row;
}

.text-scroll-hero {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
}

.background-hero {
    border-radius: 30px;
    max-width: 320px; 
    background-color: #2e2f42;
    background-position: center;
    background-image: linear-gradient(rgba(12, 12, 12, 0.2)), url(/image/hero-mob.webp); 
}

@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .background-hero {
        background-image: linear-gradient(rgba(12, 12, 12, 0.2)), url(/image/hero-mob-2x.webp); 
    }   
}