.section-hero {
padding: 60px 0;
}

.container-hero {
max-width: 320px;
display: flex;
flex-direction: column;
padding: 0 20px;
}

.title-hero {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-color-hero {
    color: #3350e9;
}

.text-hero {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7); 
    margin-bottom: 28px;
    
}

.container-customer-hero {
    display: flex; 
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.container-img-hero {
    display: flex;
    flex-direction: row;
}

.picture-customer-hero {
    width: 44px;
    height: 44px;
    position: relative;
}

.customer-img-hero {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #fbfbfb;
    overflow: hidden;
}

.ellipse-one {
    position: absolute;
    top: 0;
    right: -12px;
    z-index: -1; 
    width: 44px;
     height: 44px; 
}

.ellipse-three {
    position: absolute;
    top: 0;
    right: 6px;
    z-index: 1; 
    width: 44px;
     height: 44px;
}

.scroll-hero {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
}

.scroll-hero:focus, .scroll-hero:hover {
    color: #3350e9;
}

.container-illustration-hero {
    padding-top: 28px;
    max-width: 320px;  
} 

.picture-illustration-hero {
    border-radius: 30px;
    max-width: 320px;
max-height: 366px;
}

.img-hero {
width: 100%;
height: auto; 
}


/*@media screen and (min-width: 768px) {
    .section-hero {
    padding: 80px 0;
    }
    
    .container-hero {
    max-width: 768px;
    padding: 0 32px;
    }
    
    .title-hero {
        font-size: 70px;
        line-height: 0.86;
    }
    
    .text-hero {
        font-size: 16px;
        line-height: 1.25;
        }

        .container {
            display: flex; 
            flex-direction: row; 
            align-items:  space-between;
            justify-content: start;
            gap: 11px;
        }
    
        .container-customer-hero {
            display: flex; 
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
        
        }

        .picture-customer-hero {
            width: 56px;
            height: 56px;
        }

        .ellipse-one {
            position: absolute;
            top: 0;
            right: -12px;
            z-index: -1; 
            width: 56px;
             height: 56px; 
        }
        
        .ellipse-three {
            position: absolute;
            top: 0;
            right: 6px;
            z-index: 1; 
            width: 56px;
             height: 56px;
        }

        .scroll-hero {
        font-size: 20px;
        line-height: 1;
        }

    }
    
    @media screen and (min-width: 1280px) {
      .section-hero {
    padding-top: 80px;
    padding-bottom: 100px;
    } 
    
    .container-hero {
    max-width: 1280px;
    padding: 0 65px;
    }
    
    .title-hero {
        font-size: 72px;
        line-height: 0.875;
    }
    
    .container {
        max-width: 597px;
    }

    .picture-customer-hero {
        width: 60px;
        height: 60px;
    }

    .ellipse-one {
        
        right: -12px; 
        width: 60px;
         height: 60px; 
    }
    
    .ellipse-three {
        right: 6px;
        width: 60px;
         height: 60px;
    }
    
    }*/
