.section-hero {
padding: 60px 0;
}

.container-hero {
max-width: 320px;
display: flex;
flex-direction: column;
padding: 0 20px;
}

.title-hero {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 20px;
    
}

.title-color-hero {
    color: #3350e9;
}

.text-hero {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7); 
    margin-bottom: 28px;
}

.container-img-hero {
    display: flex;
    flex-direction: row;
}
.container-customer-hero {
    display: flex; 
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.picture-customer-hero {
    width: 44px;
    height: 44px;
}

.customer-img-hero {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #fbfbfb;
    overflow: hidden;

}

.scroll-hero {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
}

.container-illustration-hero {
    border-radius: 30px;
    padding-top: 28px;
    max-width: 320px;
    
} 

.picture-illustration-her {
max-width: 320px;
max-height: 366px;
}

.img-hero {
width: 100%;
height: auto; 
}


