/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbfb;
  font-family: 'Gilroy', sans-serif;
  color: #0c0c0c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }

  .title {
    font-size: 48px;
    line-height: 0.92;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 65px;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
