.sale-title {
    margin-bottom: 24px;
}

.sale-choise {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.sale-list-slider {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.sale-list-item {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 16px;
    padding: 13px 14px;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sale-watch-active {
    padding: 50px;
    display: inline-block;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background-color: #f3f3f3;
}

.sale-info {
    border-radius: 30px;
    background-color: #3350e9;
    padding: 48px 28px;
}

.sale-info-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 10px;
}

.product-tag {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    margin-bottom: 20px;
}

.sale-price {
    display: flex;
    gap: 9px;
    margin-bottom: 28px;
    align-items: center;
}

.current-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    border-radius: 8px;
    min-width: 68px;
    min-height: 32px;
    align-content: center;
    background: rgba(251, 251, 251, 0.1);
    text-align: center;
}

.old-price {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: rgba(251, 251, 251, 0.5);
}

.watch-descr {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
    margin-bottom: 28px;
}

.watch-feature {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.watch-feature-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
}

@media screen and (min-width: 768px) {
    .sale-title {
        margin-bottom: 40px;
    }

    .sale-choise {
        flex-direction: row;
        margin-bottom: 40px;
    }

    .sale-list-slider {
        flex-direction: column;
        gap: 10px;
    }

    .sale-list-item {
        border-radius: 20px;
        padding: 16px 18px;
    }

    .sale-watch-active {
        border-radius: 50px;
        padding: 80px 112px;
    }

    .sale-info {
        padding: 60px;
    }

    .sale-info-title {
        width: 436px;
        font-size: 32px;
        line-height: 1.13;
    }

    .sale-price {
        margin-bottom: 30px;
    }

    .current-price {
        min-width: 78px;
    }

    .watch-descr {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 40px;
    }

    .watch-feature {
        width: 398px;
    }

    .watch-feature-item {
        font-size: 14px;
        line-height: 1.29;
    }
}

@media screen and (min-width: 1280px) {
    .sale-wrap {
        display: flex;
        gap: 40px;
        margin-bottom: unset;
        /* justify-content: center;
        align-items: center; */
        /* flex-direction: row; */
        /* justify-content: space-between; */
    }

    .sale-title {
        margin-bottom: 40px;
    }
}